.vertical-hr {
    border-left: 1px solid black; /* Establece el estilo de borde izquierdo */
    height: 22px; /* Establece la altura de la línea vertical */
    margin: 0 20px; /* Ajusta el margen para separar la línea vertical de otros elementos */
}

.logo, .buscador, .sesion{
    width: 340px;
    margin: 1em 0;
}
@media (max-width: 1020px) {
    .d-flex.flex-wrap.wrap.justify-content-around.align-items-center.py-4 {
      flex-direction: column; /* Cambia la dirección de los elementos a columnas */
    }
  
    .buscador {
      order: 3; /* Cambia el orden del elemento con la clase "buscador" al final */
      width: 100%; /* Ajusta el ancho del elemento buscador para ocupar toda la anchura disponible */
    }
  
    .logo {
      order: 1; /* Cambia el orden del elemento con la clase "logo" al inicio */
    }
  
    .sesion {
      order: 2; /* Cambia el orden del elemento con la clase "sesion" al medio */
    }
  }